[Desktop Entry]
Encoding=UTF-8
Name=Betex
Comment=Betex P2P Cryptocurrency
Comment[fr]=Betex, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Betex, eşten eşe kriptografik sanal para birimi
Exec=betex-qt %u
Terminal=false
Type=Application
Icon=betex128
MimeType=x-scheme-handler/betex;
Categories=Office;Finance;
